body>table {
    width: 100%;
}

table {
    border-collapse: collapse;
}
form{
    font-size: larger;
    font-weight: bolder;
}

table.list {
    width: 100%;
    
}

td,
th {
    border: 3px solid #000000;
    text-align: left;
    padding: 8px;
}
table.list thead>tr {
    background-color: #2dc3be;
  
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=text],
input[type=password],
textarea,
input[type=url]
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(9, 2, 2, 0.963);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}
input[type=submit],input[type=reset] {
    width: 20%;
    background-color: rgb(27, 160, 153);
    color: #000;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}
tbody{
    font-weight: bold;
}
label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}